name: My Workflow

on:
  push:
    branches: 
    - main
  workflow_dispatch:

jobs:
  MyJob:
    runs-on: ubuntu-latest
    steps:
      - run: echo " Hello world!"

      - name: Checkout
        uses: actions/checkout@v4.3.1

      - name: List files in repository
        run: |
          echo "The repository ${{ github.repository }} contains the following files:"
          tree
